.immagine {
    width: 500px;
    position: absolute;
    left: 600px;
    top: 200px;
    right: 0px;
    bottom: 10px;
    z-index: 1;
    
    
}
.cloroplastiBlu {
    color: blue;
    font-weight: bold;
}

.descrizioneCloroplasto {
    white-space: pre-line;
    max-width: 35em; /* Adjust as needed */
    
}
.descrizioneCloroplasto, .cloroplastiBlu, .cloroplasti {
    font-family: Arial;
}
